name: scroll_3d_overlay
description: Scroll-driven 3D overlay widget with keyframes (turning phone effect).
version: 0.0.2
homepage: https://github.com/marcoazeem/scroll_3d_overlay
repository: https://github.com/marcoazeem/scroll_3d_overlay
issue_tracker: https://github.com/marcoazeem/scroll_3d_overlay/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
